.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
  background: rgba(11, 15, 23, 0.85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.08);
  overflow: hidden;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #00ffa3;
  letter-spacing: 1px;
}

/* TICKER CONTAINER */
.ticker {
  width: 60%;
  overflow: hidden;
  position: relative;
}

/* MOVING TRACK */
.ticker-track {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scrollTicker 18s linear infinite;
}

/* INDIVIDUAL ITEMS */
.tick {
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
}

/* COLORS */
.tick.up {
  color: #00ffa3;
}

.tick.down {
  color: #ff4d4d;
}

/* ANIMATION */
@keyframes scrollTicker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #00ffa3, transparent);
}